body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-btn {
  width: 40%;
  font-size: 36px;
}

table {
  width: 100%;
}

.manage-team-container {
  padding: 36px 24px 24px;
  position: relative;
  width: 100%;
}

.manage-team-title {
  display: inline-block;
}

.edit-team-btn {
  display: inline-block;
  right: 5px;
}
